@charset "utf-8";
/*
id em html é # em css (só pode 1 elemento)
class em html é . e css (pode vários elementos)
*/
body {
    background-color: rgb(229, 252, 193);
    font: normal 16px Arial, Verdana, serif;  
    text-align: left;  
}

h1 {
    text-align: center;
    color: rgb(176, 211, 121);
}

h1#principal {
    color: white;
}

h2 {
    text-align: center;
    color: rgb(141, 174, 87);
}

p {
    text-align: justify;
    text-indent: 30px;
}

.basico {
    color: #0d840d;
}

.intermediario{
    color: #eeee0e;
}

.avancado {
    color: #bd1d1d;
}

.destaque {
    background-color: #5ff9dd;
}
